/*CSS*/

/*---------Font-face---------*/
@font-face {
    font-family: mariaBold;
    src: url(../fonts/MYRIA-BOLD.woff);
}

@font-face {
    font-family: mariaRegular;
    src: url(../fonts/MYRIA-REGULAR.woff);
}

@font-face {
    font-family: mariaSemiBold;
    src: url(../fonts/MYRIA-SEMIBOLD.woff);
}
/*---------***-***---------*/


/*---------Global-style---------*/
* {
    box-sizing: border-box;
    margin: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #f5f5f5;
}

dd {
    margin: 1em;
    color: #a0a0a0;
}

a {
    color: #000000;
}

a:hover {
    text-decoration: none;
}
/*---------***-***---------*/


/*!********************************!*/
/*!*           HEADER            *!*/
/*!********************************!*/


/*---------Navigation-bar---------*/
.navbar {
    margin-bottom: 0px;
    background: #1e262b no-repeat center;
    text-transform: uppercase;
}

.navbar-toggle .icon-bar {
    background: white;
}

.nav-tabs {
    text-transform: uppercase;
}

.navbar-right span i {
    margin-right: 8px;
}

.navbar-right .account {
    text-align: center;
}

.navbar-right span {
    display: inline-block;
}

.navbar-right span {
    display: inline-block;
}

.navbar-nav > li > a {
    color: white;
}
/*---------***-***---------*/

.navbar-form{
  margin-top: 5%;
}

.stylish-input-group .input-group-addon{
    background: white !important;

}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}


.col12Xs{
  margin-top: 5%
}


.regForm{
  margin-top: 8%;
}

.logoHead{
  width: 120px;
}
.logoHeadXs{
  margin-top: 3%;
  margin-left: 5%;
  width: 70px;
}

.form-group .form-control{
  height: 4em;
}

.select {
    padding: 1em;
    float: right;
    color: #282828;
}

/********************************/
/*          MODAL-LOGIN         */
/********************************/

.modal-content {
    background-color: #fff;
}

.bs-example-modal-lg .nav-tabs > li {
    text-align: center;
}


.nav-tabs {
    border-bottom: 1px solid #c4af62;
}

.modal-header {
    border: none;
}

.modal-body {
    overflow: hidden;
}

.modal-footer {
    border-top: none;
}



.form-control {
    border: 1px solid red;
}

label {
    margin-top: 10px;
}

#btn-dangnhap, #btn-dangki{
  width: 150px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.login-form textarea {
    width: 100%;
    resize: none;
}

.form-login-signup {
    overflow: hidden;
}

.btn-login-sign-up {
    text-align: right;
    margin-top: 20px;
}

.socials-login {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.socials-login span {
    height: 35px;
    line-height: 35px;
}

.nav>li>a:focus, .nav>li>a:hover{
  background-color:transparent !important;
}


.color-red {
    color: #8b0304 !important;
}

#login-fb {
    float: left;
    width: 45%;
    border: 1px solid #284580 !important;
    height: 37px;
}

#login-gg {
    float: right;
    width: 45%;
    height: 37px;
    border: 1px solid #6c0304 !important;
}

.socials-login span.fa {
    width: 36px;
    padding: 10px;
    border-right: 1px solid;
    font-size: 18px;
    float: left;
}

.color-white {
    color: #fff !important;
}

#lost-pass {
    margin-bottom: 20px;
}

#lost-pass a {
    color: black;
    font-weight: 400;
}

#lost-pass a:hover {
    color: #8b0304;
}

#lost-pass span,
#lost-pass input {
    float: left;
}

#lost-pass span {
    color: black;
    font-weight: 600;
}

.btn-primary:hover,
.btn-primary {
    color: #fff;
    display: block;
    width: 100%;
    padding: 12px 0;
    background-color: #00695c;
}

.bs-example-modal-lg .fa {
    font: normal normal normal 14px/1 FontAwesome !important;
}

/********************************************/

.content p {
    font-size: 1.5em;
}

.form-control {
    height: 2.6em;
}

.btn {
    font-size: 16px;
}

#second-menu {
    margin-top: 2em;
    margin-bottom: 3em;
}

.tops {
    text-transform: uppercase;
    text-align: center;
}

.tops > ul > li {
    padding: 0.2em;
    font-size: 1.4em;
    background: gold;
}

.radius, .district, .type {
    float: right;
}



.row {
    margin: auto;
}


.suggest {
    visibility: hidden;
    padding-bottom: 3em;
}


.slidenim {
    animation-name: slidenim;
    -webkit-animation-name: slidenim;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    visibility: visible;
}

@keyframes slidenim {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slidenim {
    0% {
        opacity: 0;
        -webkit-transform: translateY(80%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media (max-width: 768px) {
    .suggestion {
        padding: 0px;
        padding-right: 0.5em;
    }
}

@media (min-width: 768px) {
    .suggestion {
        padding: 0px;
        padding-right: 0.5em;
    }
}

.tab {
    background-color: #f5f5f5;
    overflow: hidden;
    padding-top: 20px;
    /*padding-bottom: 50px;*/
    /*border-top: 2px solid #d1d1d1;*/
    /*margin-top: 60px;*/
}

.mieuta {
    background-color: white;
    padding-bottom: 50px;
}

.tab .nav {
    padding-left: 12px;
    margin-bottom: 30px;
    /*margin-top: 30px;*/
    list-style: none;
    font-size: 18px;
}

.tab .nav a {
    color: black;
    text-decoration: none;
    /*background-color: red;*/
}

/********************************/
/*        NOIBAT-SPECIAL        */
/********************************/

.special .list {
    overflow: hidden;
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.special .item {
    width: 100%;
    /*border: 1px solid #e8e1c1;*/
    overflow: hidden;
}

.special .item .image {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.special .list:hover .item .image img {
    opacity: 1;
    transform: scale(1.2);

}

.special .list:hover .item .image .image-overlay {
    opacity: 0.9;
    transition: all 0.5s ease-in-out;

}

.special .item .image .image-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
}

.special .item .image .image-overlay a {
    /*border: 1px solid #8b0304;*/
    /*border-radius: 3px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    padding: 10px;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: all ease-in-out .5s;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0px;
    /*font-weight: 550;*/
    vertical-align: middle;
    font-size: 13px;
    text-decoration: none;
    background-color: #d32323;
}


.special .item .image .image-overlay a span {
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
}

.special .item img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.5s ease-in-out;
}

.special .item .description {
    width: 100%;
    position: relative;
    /*border-top: 1px solid #e8e1c1;*/
    padding: 0px 10px 10px;
    height: 75px;
    /*background-image: linear-gradient(to bottom, #ffffff, #fcf4df);*/
}

.special .item .description h3 {
    font-size: 16px;
    /*text-align: center;*/
    /*color: #8b0304;*/
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: mariaSemiBold;
}

.special .item .description p {
    /*font-family: mariaRegular;*/
    /*text-align: center;*/
    font-size: 13px;
    margin-bottom: 0;
    color: #333;
}

.special .item .description span a {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1000;
}

.description span {
    float: right;
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    width: 32px;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    background: rgb(229, 36, 2);
    border-radius: 100px;
    overflow: hidden;
}

/*!********************************!*/
/*!*           FOOTER             *!*/
/*!********************************!*/





.footer {
    background: #1e262b;
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 50px;
    /*border-top: 2px solid #d1d1d1;*/
    position: relative;
}

.footer .footer-wrap {
    overflow: hidden;
}

.footer .footer-center,
.footer .company {
    margin-left: -15px;
}

.footer .footer-wrap h3 {
    font-size: 18px;
    font-family: mariaSemiBold;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    color: #F8F2CE;
    margin-bottom: 20px;
}

.footer .footer-wrap p {
    color: #000;
    margin-top: 7px;
    line-height: 18px;
    font-size: 14px;
    color: #F8F2CE;
}

.ketnoi{
  text-align: center;
}

.footer .footer-wrap .ketnoi h3 {
    margin-bottom: 10px;
    text-align: center;
}

.footer .footer-wrap .ketnoi p {
    clear: both;
}

.footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    vertical-align: middle;
}

/*************************/
/*        BTN-TO-TOP     */
/*************************/

span#btn-to-top {
    border: 1px solid #f8f2dc;
    background-color: #d32323;
    color: #f8f2dc;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    font-size: 24px;
    line-height: 45px;
    transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
    display: none;
}

span#btn-to-top:hover i {
    transform: translateY(-3px);
    cursor: pointer;
}

.logo-footer img{
background-repeat: no-repeat;
width: auto; /*or your image's width*/
height: auto; /*or your image's height*/
position: absolute;
left: 50px;
}

i.fa-3x{
  margin: 1% 3%
}

a:hover .fa-facebook-square{
  color: #3b5998;
}
a:hover .fa-twitter-square{
  color: #00aced;
}
a:hover .fa-instagram{
  color: pink;
}
a:hover .fa-google-plus-square{
  color: #dd4b39
}
.descriptionName:hover{
  color : #d32323
}
.description span{
  background-color : #d32323
}
.description p{
  width: 280px;
}
